.stRadio>label{
	position: absolute;
	top: 0px;
}
.st-emotion-cache-yqs8pq{
	position: relative;
	top: -00px;
}
.ea3mdgi4{
	position: relative;
	top: -100px;
}
.ezrtsby2{
	position: absolute;
	top: -80px;
}
.reportview-container {
    margin-top: -2em;
}
#MainMenu {
	visibility: hidden;
}
.stDeployButton {
	display:none;
}
footer {
	visibility: hidden;
}
#stDecoration {
	display:none;
}